body {
  display: grid;
  grid-template-columns: repeat(3, 25%, 50%, 25%);
  grid-template-rows: repeat(4, 25%, 25%, 25%, 25%);
}
 /* Player 'Cat' section */
.left {
  border: solid 3px purple;
  grid-column-start: 1;
  grid-row-start: 1;
}

/* Main section */
.middle {
  border: solid 3px green;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-row-start: 1;
  justify-content: center;
}

.title {
  border: solid 3px blue;
  align-items: flex-start;
  justify-items: center;


}
.choose-fighter {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  height:200px;
  width: 200px;
}

/* Player 'Dog' section */
.right {
  border: solid 3px purple;
  grid-column-start: 3;
  grid-row-start: 1;
}
