body {
  display: grid;
  grid-template-columns: repeat(3, 25% 50% 30%);
  height: 100vh;
}

/* .hidden{
  display: none;
} */

 /* Player 'Cat' section */
.left {
  align-items: center;
  border: solid 3px purple;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 1;
  justify-content: flex-start;
}

button {
  border: solid 1px black;
  border-radius: 5px;
  height: 40px;
  margin-top: 200px;
  width: 150px
}


/* Main section */
.middle {
  border: solid 3px green;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column-start: 2;
}

.game-area {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.classic {
  align-items: center;
  border: solid 3px rebeccapurple;
  font-size: 20px;
  width: 220px;
}

.difficult {
  border: solid 3px rebeccapurple;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  /* height: 100%; */
  justify-content: flex-start;
  width: 220px;
}

.choose-fighter {
  align-content: center;
  border: solid 3px rebeccapurple;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:400px;
  justify-content: space-around;
  width: 100%;
}

img {
  height:150px;
  justify-content: center;
  width: 150px;
}

/* Player 'Dog' section */
.right {
  align-items: center;
  border: solid 3px purple;
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  justify-content: flex-start;
}
